In [1]:
import pandas as pd

df = pd.read_csv("../data/people.csv")
df

      name  age  height
0    Alice   34     165
1      Bob   28     172
2  Charlie   12     150
3    Daisy    8     130
4    Ethan   45     178
5    Fiona   22     168
6   George   17     160
7   Hannah   30     170
8      Ian   15     155
9    Julia   40     175

## Load the dataset
We load the dataset from the 'data' folder and display it to understand its structure.

In [2]:
overall_avg = df["height"].mean()
overall_avg

np.float64(162.3)

## Overall average height
This value represents the average height of all people in the dataset.
It serves as a baseline for later comparisons.

In [3]:
adults_avg = df[df["age"] >= 18]["height"].mean()
adults_avg

np.float64(171.33333333333334)

## Average height of adults
This value represents the average height of people aged 18 and older.
We compare this to the overall average height to understand differences between groups.

In [4]:
adults_avg > overall_avg

np.True_